.profile {
  display: flex;
  height: 520px;
  width: 100%; 
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-image: url(/images/brick-wall-dark.png);
}

.profile > img {
  margin-top: 1em;
}